body {
    background-image: url("../images/worldmap.jpg");
    background-repeat: repeat-x;
}

.jumbotron-fluid {
    background-color: #F3EAEA;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    border: 5px dotted salmon;
}

.images {
    margin: 0 auto;
    margin-top: 30px;
    
}

#page-wrap {
    width: 800px;
    margin: 0 auto;
}